---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)



@import
  {% if site.bootwatch %}
    "bootswatch/{{site.bootwatch | downcase}}/variables",
  {% endif %}

  "bootstrap",

  {% if site.bootwatch %}
    "bootswatch/{{site.bootwatch | downcase}}/bootswatch",
  {% endif %}

  "syntax-highlighting",
  "typeahead"
;

html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: $navbar-height + $navbar-margin-bottom;
  margin-bottom: 46px;
}

.navbar-brand{
  img{
    margin: -$navbar-padding-vertical 0;
    height: $navbar-height;
    padding: 10px 0;
  }
}


.header-container {
  background-color: black;
  background: url('../img/bg-ntu.jpg') no-repeat 50% 0;
  color: #fff;
  // add shadow when background image is light
  text-shadow: 2px 2px 2px #222222;

  h2 {
    color: #fff;
  }
  // background-attachment: fixed;
  background-size: cover;
  background-position: center 55%;
  margin-top: 0px;
}
.navbar-container {
  font-size: 16px;
}
// settings for general page content
.page-content {
  padding-top: 40px;
  font-size: 16px;
  color: $gray-dark;
  padding-bottom: 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 46px;
  padding-top: 10px;
  background-color: $gray-lighter;
  color: $gray-dark;
}

.post-list-container {
  li a.active {
    font-weight: bold;
  }
}
*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}
.navbar-form .has-feedback .form-control-feedback{
  top:10px
}


%page-header-container {
  margin-top: 0px;
  height: 150px;
}

.page-header-container-classmate {
  @extend %page-header-container;
  background: url('../img/NTUEE1975header.jpg') no-repeat 50% 0;
  background-color: black;
  // background-attachment: fixed;
  background-size: cover;
  background-position: center 45%;
}

.page-header-container-gate {
  @extend %page-header-container;
  background: url('../img/ntu_gate.jpg') no-repeat 50% 0;
  background-color: black;
  // background-attachment: fixed;
  background-size: cover;
  background-position: center 58%;
}

.page-header-container-fubell {
  @extend %page-header-container;
  background: url('../img/ntu_fubell.jpg') no-repeat 50% 0;
  background-color: black;
  // background-attachment: fixed;
  background-size: cover;
  background-position: center 43%;
}

.page-header-container-library05 {
  @extend %page-header-container;
  background: url('../img/ntu_library_w_05.jpg') no-repeat 50% 0;
  background-color: black;
  // background-attachment: fixed;
  background-size: cover;
  background-position: center 60%;
}

.page-header-container-library07 {
  @extend %page-header-container;
  background: url('../img/ntu_library_w_07.jpg') no-repeat 50% 0;
  background-color: black;
  // background-attachment: fixed;
  background-size: cover;
  background-position: center 55%;
}

.page-header-container-library09 {
  @extend %page-header-container;
  background: url('../img/ntu_library_w_09.jpg') no-repeat 50% 0;
  background-color: black;
  // background-attachment: fixed;
  background-size: cover;
  background-position: center 47%;
}

.page-header-container-library11 {
  @extend %page-header-container;
  background: url('../img/ntu_library_w_11.jpg') no-repeat 50% 0;
  background-color: black;
  // background-attachment: fixed;
  background-size: cover;
  background-position: center 41%;
}

.page-header-container-library12 {
  @extend %page-header-container;
  background: url('../img/ntu_library_w_12.jpg') no-repeat 50% 0;
  background-color: black;
  // background-attachment: fixed;
  background-size: cover;
  background-position: center 60%;
}

code {
  color: #0046AA;
  font-weight: bold;
  font-size: medium;
}

.photo-text {
  vertical-align: middle !important;
  max-width: 330px;
}
